.container {
  border: 4px solid #343A40;
  margin-bottom: 30px;
  padding-bottom: 0;
  width: 50%;
  background-color: var(--main-bg-colour);
}
.container:hover div{
  background-color: var(--highlight-colour);
}
.container:hover label{
  color: black;
}
.container:focus div{
  background-color: var(--highlight-colour);
}
.container:focus label{
  color: black;
}
label {
  font-weight: bold;
}
