<button attr.aria-label="{{this.ariaLabel()}}" class="container">
  <!-- First row -->
  <div class="row align-items-center">
    <!-- Home logo -->
    <div class="col-sm" align="center">
      <img aria-label="" class="logo" src="../../../assets/logos/{{this.teamHomeAbv}}.png">
    </div>
    <!-- Team points -->
    <ng-container *ngIf="this.entry.live; else scheduled">
      <div class="col-sm">
        <label>{{this.entry.homeTeamScore}}</label>
      </div>
      <div class="col-sm">
        <label>{{this.entry.awayTeamScore}}</label>
      </div>
    </ng-container>
    <!-- Away logo -->
    <div class="col-sm" align="center">
      <img aria-label="" class="logo" src="../../../assets/logos/{{this.teamAwayAbv}}.png">
    </div>
  </div>
  <!-- Second row -->
  <div class="row align-items-center">
    <!-- Home name -->
    <div class="col-sm" align="center">
      <label>{{this.teamHomeAbv.toUpperCase()}}</label>
    </div>
    <!-- Spacing -->
    <div class="col-sm">
      <label></label>
    </div>
    <div class="col-sm">
      <label></label>
    </div>
    <!-- Away name -->
    <div class="col-sm" align="center">
      <label>{{this.teamAwayAbv.toUpperCase()}}</label>
    </div>
  </div>
</button>
<ng-template #scheduled>
  <div class="col-sm">
    <label>0</label>
  </div>
  <div class="col-sm">
    <label>0</label>
  </div>
</ng-template>
