<div class="container">
  <!-- First row -->
  <div class="row align-items-center">
    <!-- Home logo -->
    <div class="col-sm" align="center">
      <img class="logo" src="../../../assets/logos/{{entry.homeTeamName.toLowerCase()}}.png">
    </div>
    <!-- Team points -->
    <ng-container *ngIf="entry.live; else scheduled">
      <div class="col-sm">
        <label>{{entry.homeTeamScore}}</label>
      </div>
      <div class="col-sm">
        <label>{{entry.awayTeamScore}}</label>
      </div>
    </ng-container>
    <!-- Away logo -->
    <div class="col-sm" align="center">
      <img class="logo" src="../../../assets/logos/{{entry.awayTeamName.toLowerCase()}}.png">
    </div>
  </div>
  <!-- Second row -->
  <div class="row align-items-center">
    <!-- Home name -->
    <div class="col-sm" align="center">
      <label>{{entry.homeTeamName.toUpperCase()}}</label>
    </div>
    <!-- Spacing -->
    <div class="col-sm">
      <label></label>
    </div>
    <div class="col-sm">
      <label></label>
    </div>
    <!-- Away name -->
    <div class="col-sm" align="center">
      <label>{{entry.awayTeamName.toUpperCase()}}</label>
    </div>
  </div>
</div>
<ng-template #scheduled>
  <div class="col-sm">
    <label>0</label>
  </div>
  <div class="col-sm">
    <label>0</label>
  </div>
</ng-template>
