.date {
  font-weight: bold;
  font-size: 36px;
}
.arrow {
  color: white;
}
.btn {
  background-color: var(--main-bg-colour);
}
.btn:hover {
  background-color: var(--highlight-colour);
}
#entry{
  transform: scale(1);
  transform-origin: top;
}

.fontChange {
  position:absolute;
  top:0;
  right:0;
  font-size :30px;
}
