<div align="center">
  <div>
    <h1 aria-hidden="true">
      Games
    </h1>
  </div>
  <div class="pb-3">
      <button aria-label="Go back a day" class="btn" (click)="goBackDay()" appAutoFocus>
        <i class="fa fa-arrow-circle-left fa-2x arrow"></i>
      </button>
    <label class="date" aria-hidden="true">{{convertMonth(this.today.toISOString().split('T', 1)[0].split("-")[1].substring(1))
      + " " + this.today.toISOString().split('T', 1)[0].split("-")[2].substring(1)}}</label>
    <button aria-label="Go to next day" class="btn" (click)="goForwardDay()">
      <i class="fa fa-arrow-circle-right fa-2x arrow"></i>
    </button>
  </div>
  <div id="entry" #entryContainer>
    <div *ngIf="entries.length > 0" class="group">
      <li class="list-group">
        <app-schedule-element *ngFor="let entry of entries" [entry]="entry"></app-schedule-element>
      </li>
    </div>
  </div>
  <div class="fontChange">
    <button id="zBtn" (click)="this.navHome()" class="btn" style="color: white"><i class="fa fa-home" aria-label="Home"></i></button>
    <button id="zBtn" (click)="changeFont('-')" class="btn" ><i class="fa fa-search-minus arrow" aria-label="Zoom out"></i></button>
    <button id="zBtn" (click)="changeFont('+')" class="btn"><i class="fa fa-search-plus arrow" aria-label="Zoom in"></i></button>
  </div>
</div>
