.modal-header {
  color: white;
}
.modal-body {
  color: white;
  overflow-x: auto;
}
.btn:hover {
  background-color: var(--highlight-colour);
  color: black;
}
.btn:focus {
  background-color: var(--highlight-colour);
  color: black;
}
.table-hover tr:hover  {
  color: var(--highlight-colour);
}
.alert {
  border: 0 !important;
  margin: 0;
}
