
#predTbl {
    color: white;
    font-size: 20px;
    visibility: hidden;
    margin: 0;
padding: 0;
  }

  .fontChange {
    position:absolute;
    top:0;
    right:0;
    font-size :30px;
  }

  .btn {
    background-color: var(--main-bg-colour);
    font-size: xx-large;
  }

  .btn:hover {
    background-color: var(--highlight-colour);
  }

  .arrow {
    color: white;
  }
