html {
  background-color: var(--main-bg-colour);
  font-family: Roboto;
}

div {
  background-color: var(--main-bg-colour);
}

div label {
  color: white;
}

h1 {
  color: var(--title-font-colour);
  font-family: Roboto;
  font-weight: bold;
  font-size: 60px;
  padding-top: 40px;
}

:root {
  --title-font-colour: #9FD3E8;
  --main-bg-colour: #1F2527;
  --highlight-colour: #FBE6AA;
}

.logo {
  width: 90px;
  height: 90px;
  padding: 10px;
}
