<div align="center">
  <div class="header" aria-hidden="true">
    <h1>
      NBA Vision
    </h1>
    <h2 class="slogan">Your insights whenever and however</h2>
  </div>
  <div>
    <div class="container">
      <button class="btnNav" (click)="this.navGames()" aria-label="Games" appAutoFocus><label aria-hidden="true" #navElemS><u>G</u>ames</label></button>
    </div>
    <div class="container">
      <button class="btnNav" (click)="this.navStandings()" aria-label="Standings"><label aria-hidden="true" #navElemSt><u>S</u>tandings</label></button>
    </div>
    <div class="container">
      <button class="btnNav" (click)="this.navPredictions()" aria-label="Predictions"><label aria-hidden="true" #navElemP><u>P</u>redictions</label></button>
    </div>
    <div class="fontChange">
      <button id='zBtn' (click)="changeFont('-')" class="btn"><i class="fa fa-search-minus arrow" aria-label="Zoom out"></i></button>
      <button id='zBtn' (click)="changeFont('+')" class="btn"> <i class="fa fa-search-plus arrow" aria-label="Zoom in"></i></button>
    </div>
  </div>
</div>
