.slogan {
  color: white;
  font-size: 20px;
}

.nav-elem {
  padding: 20px;
}

.nav-elem label {
  font-size: 48px;
  display: inline-block;
}

.nav-elem label:after {
  content: '';
  display: block;
  border-top: 3px solid var(--highlight-colour);
  margin-top: 0.1em;
}

.nav-elem label:hover {
  color: var(--highlight-colour);
}

.fontChange {
  position:absolute;
  top:0;
  right:0;
  font-size :30px;
}

.btn {
  background-color: var(--main-bg-colour);
  font-size: xx-large;
}

.btn:hover {
  background-color: var(--highlight-colour);
}

.arrow {
  color: white;
}
