<div align="center">
  <div class="header" >
    <h1>
      NBA Vision
    </h1>
    <h2 class="slogan">Your insights whenever and however</h2>
  </div>
  <div>
    <div class="nav-elem">
      <label [routerLink]="['/schedule']" #navElemS><u>S</u>chedule</label>
    </div>
    <div class="nav-elem">
      <label [routerLink]="['/standings']" #navElemSt >S<u>t</u>andings</label>
    </div>
    <div class="nav-elem">
      <label [routerLink]="['/predictions']" #navElemP><u>P</u>redictions</label>
    </div>
    <div class="fontChange">
    <button id='btnFontMinus' (click)="changeFont('-')" class="btn" ><i class="fa fa-search-minus arrow"></i></button>
    <button id='btnFontPlus' (click)="changeFont('+')" class="btn"> <i class="fa fa-search-plus arrow"></i></button>
  </div>
  </div>
</div>
