<div align="center">
  <div class="pb-3" aria-hidden="true">
    <h1>
      Standings
    </h1>
  </div>
  <div class="btn-group" role="group" #buttons>
    <button type="button" class="btn btn-dark" (click)="clickAll()" aria-label="All conferences" appAutoFocus><label aria-hidden="true"><u>A</u>ll</label></button>
    <button type="button" class="btn btn-dark" (click)="clickEast()" aria-label="Eastern conference"><label aria-hidden="true"><u>E</u>ast</label></button>
    <button type="button" class="btn btn-dark" (click)="clickWest()" aria-label="Western conference"><label aria-hidden="true"><u>W</u>est</label></button>
  </div>
  <div class="fontChange">
    <button id='zBtn' (click)="this.navHome()" class="btn" style="color: white"><i class="fa fa-home" aria-label="Home"></i></button>
    <button id='zBtn' (click)="changeFont('-')" class="btn" ><i class="fa fa-search-minus arrow" aria-label="Zoom out"></i></button>
    <button id='zBtn' (click)="changeFont('+')" class="btn"> <i class="fa fa-search-plus arrow" aria-label="Zoom in"></i></button>
  </div>

  <div class="ml-5 mr-5">
    <table class="table table-dark mb-0" #standings id="standings">
      <thead class="thead-light" aria-hidden="true">
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Team</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">W/L%</th>
        <th scope="col">PW</th>
        <th scope="col">PL</th>
        <th scope="col">PS/G</th>
        <th scope="col">PA/G</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="this.standingEntries.length > 0">
        <ng-container>{{this.clearRank()}}</ng-container>
        <tr *ngFor="let entry of this.standingEntries">
          <ng-container *ngIf="this.div == 'east'; else west">
            <ng-container *ngIf="entry.div == 'east'">
              <td>{{this.rank}}</td>
              <td>
                <button type="button" class="btn btn-dark btn-row text-left" (click)="this.teamDetails(this.entry)">
                  <img class="tableLogo" src="../../assets/logos/{{this.convertTeamName(entry.team)}}.png">
                  {{entry.team}}
                </button>
              </td>
              <td>{{entry.w}}</td>
              <td>{{entry.l}}</td>
              <td>{{entry.wL}}</td>
              <td>{{entry.pw}}</td>
              <td>{{entry.pl}}</td>
              <td>{{entry.psg}}</td>
              <td>{{entry.pag}}</td>
              <ng-container>{{this.incrementRank()}}</ng-container>
            </ng-container>
          </ng-container>
          <ng-template #west>
            <ng-container *ngIf="this.div == 'west'; else all">
              <ng-container *ngIf="entry.div == 'west'">
                <td>{{this.rank}}</td>
                <td>
                  <button type="button" class="btn btn-dark btn-row text-left" (click)="this.teamDetails(this.entry)">
                    <img class="tableLogo" src="../../assets/logos/{{this.convertTeamName(entry.team)}}.png">
                    {{entry.team}}
                  </button>
                </td>
                <td>{{entry.w}}</td>
                <td>{{entry.l}}</td>
                <td>{{entry.wL}}</td>
                <td>{{entry.pw}}</td>
                <td>{{entry.pl}}</td>
                <td>{{entry.psg}}</td>
                <td>{{entry.pag}}</td>
                <ng-container>{{this.incrementRank()}}</ng-container>
              </ng-container>
            </ng-container>
          </ng-template>
          <ng-template #all>
            <td>{{this.rank}}</td>
            <td>
              <button type="button" class="btn btn-dark btn-row text-left" (click)="this.teamDetails(this.entry)">
                <img class="tableLogo" src="../../assets/logos/{{this.convertTeamName(entry.team)}}.png">
                {{entry.team}}
              </button>
            </td>
            <td>{{entry.w}}</td>
            <td>{{entry.l}}</td>
            <td>{{entry.wL}}</td>
            <td>{{entry.pw}}</td>
            <td>{{entry.pl}}</td>
            <td>{{entry.psg}}</td>
            <td>{{entry.pag}}</td>
            <ng-container>{{this.incrementRank()}}</ng-container>
          </ng-template>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
