<div align="center">
  <div class="pb-3">
    <h1>
      Standings
    </h1>
  </div>
  <div class="btn-group" role="group" #buttons>
    <button type="button" class="btn btn-dark" (click)="clickAll()">All</button>
    <button type="button" class="btn btn-dark" (click)="clickEast()">East</button>
    <button type="button" class="btn btn-dark" (click)="clickWest()">West</button>
  </div>
  <div class="fontChange">
    <button id='btnFontMinus' (click)="changeFont('-')">-</button>
    <button id='btnFontPlus' (click)="changeFont('+')">+</button>
  </div>

  <div class="ml-5 mr-5 mb-5">
    <table class="table table-dark table-hover" #standings>
      <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Team</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">W/L%</th>
        <th scope="col">GB</th>
        <th scope="col">PW</th>
        <th scope="col">PL</th>
        <th scope="col">PS/G</th>
        <th scope="col">PA/G</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="this.standingEntries.length > 0">
        <ng-container>{{this.clearRank()}}</ng-container>
        <tr *ngFor="let entry of this.standingEntries">
          <ng-container *ngIf="this.div == 'east'; else west">
            <ng-container *ngIf="entry.div == 'east'">
              <td>{{this.rank}}</td>
              <td>
                <img class="tableLogo" src="../../assets/logos/{{this.convertTeamName(entry.team)}}.png">
                {{entry.team}}
              </td>
              <td>{{entry.w}}</td>
              <td>{{entry.l}}</td>
              <td>{{entry.wL}}</td>
              <td>{{entry.gb}}</td>
              <td>{{entry.pw}}</td>
              <td>{{entry.pl}}</td>
              <td>{{entry.psg}}</td>
              <td>{{entry.pag}}</td>
              <ng-container>{{this.incrementRank()}}</ng-container>
            </ng-container>
          </ng-container>
          <ng-template #west>
            <ng-container *ngIf="this.div == 'west'; else all">
              <ng-container *ngIf="entry.div == 'west'">
                <td>{{this.rank}}</td>
                <td>
                  <img class="tableLogo" src="../../assets/logos/{{this.convertTeamName(entry.team)}}.png">
                  {{entry.team}}
                </td>
                <td>{{entry.w}}</td>
                <td>{{entry.l}}</td>
                <td>{{entry.wL}}</td>
                <td>{{entry.gb}}</td>
                <td>{{entry.pw}}</td>
                <td>{{entry.pl}}</td>
                <td>{{entry.psg}}</td>
                <td>{{entry.pag}}</td>
                <ng-container>{{this.incrementRank()}}</ng-container>
              </ng-container>
            </ng-container>
          </ng-template>
          <ng-template #all>
            <td>{{this.rank}}</td>
            <td>
              <img class="tableLogo" src="../../assets/logos/{{this.convertTeamName(entry.team)}}.png">
              {{entry.team}}
            </td>
            <td>{{entry.w}}</td>
            <td>{{entry.l}}</td>
            <td>{{entry.wL}}</td>
            <td>{{entry.gb}}</td>
            <td>{{entry.pw}}</td>
            <td>{{entry.pl}}</td>
            <td>{{entry.psg}}</td>
            <td>{{entry.pag}}</td>
            <ng-container>{{this.incrementRank()}}</ng-container>
          </ng-template>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
