.fontChange {
    position:absolute;
    top:0;
    right:0;
    font-size :30px;
  }
.btn-group{
    transform: scale(1);
    transform-origin: 0 0;
}
.tableLogo {
  width: 30px;
  padding-right: 7px;
}

.btn:hover {
  background-color: var(--highlight-colour);
  color: black;
}

.btn:focus {
  background-color: var(--highlight-colour);
  color: black;
}

.table-hover tr:hover  {
  color: var(--highlight-colour);
}
